.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.home-icon {
  margin-left: 4px;
}

.logout {
  margin-right: 10px;
  cursor: pointer;
}

.errors {
  color: red;
  margin-bottom: 8px;
}
